# ─── DATABASE URLS (Neon) ─────────────────────────────────────
AUTH_DATABASE_URL=postgresql://neondb_owner:npg_W6cahI7nKlvN@ep-sparkling-flower-aopgz75u-pooler.c-2.ap-southeast-1.aws.neon.tech/auth_db?sslmode=require&channel_binding=require
PRODUCT_DATABASE_URL=postgresql://neondb_owner:npg_W6cahI7nKlvN@ep-sparkling-flower-aopgz75u-pooler.c-2.ap-southeast-1.aws.neon.tech/product_db?sslmode=require&channel_binding=require
ORDER_DATABASE_URL=postgresql://neondb_owner:npg_swRjC4U8GDJi@ep-sparkling-flower-aopgz75u-pooler.c-2.ap-southeast-1.aws.neon.tech/order_db?sslmode=require&channel_binding=require
PAYMENT_DATABASE_URL=postgresql://neondb_owner:npg_W6cahI7nKlvN@ep-sparkling-flower-aopgz75u-pooler.c-2.ap-southeast-1.aws.neon.tech/payment_db%20?sslmode=require&channel_binding=require

# ─── JWT ──────────────────────────────────────────────────────
JWT_SECRET=237239jkbfdsjkbkjdbkjdsbfkjsdf
JWT_EXPIRES_IN=1d

# ─── KAFKA (Aiven) ────────────────────────────────────────────
KAFKA_BROKER=kafka-30597cf4-micros.h.aivencloud.com:24416
KAFKA_USERNAME=avnadmin
KAFKA_PASSWORD=AVNS_Hu3JeQeBcylHDTxn4e0

# ─── CLOUDINARY ───────────────────────────────────────────────
CLOUDINARY_CLOUD_NAME=mkscloud
CLOUDINARY_API_KEY=385798715937466
CLOUDINARY_API_SECRET=QdE-fYwtEvKLNqKaNt9QB3Zvxvg

# ─── RAZORPAY ─────────────────────────────────────────────────
RAZORPAY_KEY_ID=rzp_test_St8XuHxT2hLOwe
RAZORPAY_KEY_SECRET=JekxUYXGd7HXhTcPUrKoXOL6

# ─── SENDGRID ─────────────────────────────────────────────────
SENDGRID_API_KEY=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
SENDGRID_FROM_EMAIL=mrityunjaysingh.360realtors@gmail.com
SENDGRID_FROM_NAME=MK Store
