PORT=3003
DATABASE_URL=postgresql://neondb_owner:npg_W6cahI7nKlvN@ep-sparkling-flower-aopgz75u-pooler.c-2.ap-southeast-1.aws.neon.tech/order_db?sslmode=require&channel_binding=require
KAFKA_BROKER=kafka-30597cf4-micros.h.aivencloud.com:24405
KAFKA_SSL_CA=../certs/ca.pem
KAFKA_SSL_KEY=../certs/service.key
KAFKA_SSL_CERT=../certs/service.cert
