PORT=3004
DATABASE_URL=postgresql://neondb_owner:npg_W6cahI7nKlvN@ep-sparkling-flower-aopgz75u-pooler.c-2.ap-southeast-1.aws.neon.tech/payment_db?sslmode=require&channel_binding=require
RAZORPAY_KEY_ID=rzp_test_St8XuHxT2hLOwe
RAZORPAY_KEY_SECRET=JekxUYXGd7HXhTcPUrKoXOL6
KAFKA_BROKER=kafka-30597cf4-micros.h.aivencloud.com:24405
KAFKA_SSL_CA=../certs/ca.pem
KAFKA_USERNAME=avnadmin
KAFKA_PASSWORD=your_aiven_password
